fastapi
openai>=1.40.0
uvicorn
pydantic
sqlalchemy
python-jose
passlib[argon2]
email-validator
python-dotenv
qrcode[pil]
passlib[bcrypt]
itsdangerous
jinja2
python-multipart
itsdangerous
python-multipart
boto3